

<form id="message-form">
    <input name ="message" type="text" placeholder="Message"/>
    <button>Send</button>
</form>

<div id="chatBox">
    <ol id="messages_list">
        
    </ol>
</div>

<script type="text/javascript" src="js/index.js"></script>